:root{
    --slide-width: 50vw;
    --slide-height: 50vh;

}

main{
    width: var(--slide-width);
    height: var(--slide-height);
    border: 5px solid crimson;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}


section{
    display: flex;
    width: fit-content;
    height: fit-content;
    animation: slide_animation 10s linear alternate infinite;

}


div{
    width: var(--slide-width);
    height: var(--slide-height);
}

div:first-child{
    background-image: url("../image/images.jpg");
    background-size: cover;
    background-position: center;
}


div:nth-child(2){
    background-image: url("../image/images (1).jpg");
    background-size: cover;
    background-position: center;
}


div:nth-child(3){
    background-image: url("../image/images (2).jpg");
    background-size: cover;
    background-position: center;
}

div:nth-child(4){
    background-image: url("../image/images (3).jpg");
    background-size: cover;
    background-position: center;
}

@keyframes slide_animation {
    0%, 20%{
        transform: translateX(0%);
    }
    25%, 45%{
        transform: translateX(-25%);
    }
    50%, 70%{
        transform: translateX(-50%);
    }
    75%, 100%{
        transform: translateX(-75%);
    }
}