body{
    position: relative;
    height: 100vh;
}
div{
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: 5px solid black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    /*animation: my-aimation  linear infinite;*/
    animation: my-animation 0.5s linear infinite;
}
@keyframes my-animation {
    0%{

    }
    50%{
        width: 200px;
        aspect-ratio: 1/1;
        border-radius: 100%;
        border: 2px solid black;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    100%{
        width: 300px;
        aspect-ratio: 1/1;
        border-radius: 100%;
        border: 2px solid black;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}