body {
    position: relative;
    margin: 0;
}

#homeBackground {
    height: 100vh;
    background-image: url("../image/photo-1658660854207-8886b1d69bb8.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1900px auto;

}
#homePagePhoto>div{
    position: absolute;
    top: 0;
    right: 0;
    margin: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}
#homePageAside>div{
    width: 67px;
    height: 500px;
    background-color: #1A1A1A;
    /*background-color: #D9D9D9;*/
    /*opacity: 30%;*/
    position: absolute;
    left: 130px;
    top: 120px;
    margin: auto;
    border-radius: 10px;
}
/*#homePageAside>div>img{
    opacity: 100%;
}*/
#instagram{
    position: relative;
    left: 12px;
    top: 20px;
    margin: auto;
}
#whatsApp{
    position:relative;
    top: 70px;
    left: 12px;
    margin: auto;
}
#google{
    position: relative;
    top: 130px;
    left: 12px;
    margin: auto;
}
#github{
    position: relative;
    top: 190px;
    left: 12px;
    margin: auto;
}
#linkedin{
    position: relative;
    top: 250px;
    left: 12px;
    margin: auto;
}
#homePage{
    position: relative;
}
#homePage>h2{
    color: #66FCF1;
    font-size: 70px;
    position: absolute;
    left: 250px;
    top: 250px;
    margin: auto;
}
#homePage>h1{
    color: white;
    font-size: 90px;
    position: absolute;
    left: 250px;
    top: 320px;
    margin: auto;
}
#homePage>h4{
    color: #66FCF1;
    font-size: 50px;
    position: absolute;
    left: 250px;
    top: 420px;
    margin: auto;
}
#homePageFooter{
    position: relative;
}
#homePageFooter>nav>div{
    width: 600px;
    height: 30px;
    background-color: #959595;
    position: absolute;
    top:500px;
    left: 400px;
    margin: auto;
    border-radius: 10px;
}
#homePageFooter>nav>div{
    font-size: 20px;
    color: black;
    position: absolute;
    /*color: white;*/
    top: 650px;
    left: 250px;
    margin: auto;
    padding-left: 30px;
    padding-top: 10px;
}
#homePageFooter>nav>div>div>a{
    text-decoration: none;
    color: black;
    margin-right: 2px;
}
@media (max-width: 1440px) {
    #homeBackground {
        background-size: cover;
    }

    #homePage>h2 {
        font-size: 65px;
        left: 300px;
    }

    #homePage>h1 {
        font-size: 85px;
        left: 300px;
    }

    #homePage>h4 {
        font-size: 50px;
        left: 300px;
    }

    #homePageAside>div {
        width: 80px;
        height: 500px;
        left: 150px;
    }

    #homePageFooter>nav>div {
        width: 800px;
        height: 40px;
        font-size: 26px;
        top: 650px;
    }

    #homePagePhoto>div {
        /* Adjust the size of #homePagePhoto>div as needed */
        width:400px;
        height: 700px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    #instagram, #whatsApp, #google, #github, #linkedin {
        width: 300px;
        height: 300px;
        left: 20px;
    }
}
@media (max-width: 1024px) {
    #homeBackground {
        background-size: cover;
    }

    #homePage>h2 {
        font-size: 40px;
        left: 220px;
    }

    #homePage>h1 {
        font-size: 60px;
        left: 220px;
        top: 300px;
    }

    #homePage>h4 {
        font-size: 35px;
        left: 220px;
        top: 370px;
    }

    #homePageFooter>nav>div {
        width: 480px;
        height: 30px;
        font-size: 15px;
        top: 550px;
    }

    #homePagePhoto>div {
        /* Adjust the size of #homePagePhoto>div as needed */
        width: 350px;
        height: 500px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    #homePageAside>div {
        width: 60px;
        height: 500px;
        left: 100px;
    }

    #instagram, #whatsApp, #google, #github, #linkedin {
        left: 10px;
    }
}
@media (max-width: 768px) {
    #homeBackground {
        background-size: cover;
    }

    #homePage>h2 {
        font-size: 38px;
        left: 160px;
    }

    #homePage>h1 {
        font-size: 47px;
        left: 160px;
    }

    #homePage>h4 {
        font-size: 30px;
        left: 160px;
        top: 350px;
    }

    #homePageFooter>nav>div {
        width: 450px;
        font-size: 15px;
        top: 550px;
        left: 200px;
    }

    #homePagePhoto>div {
        /* Adjust the size of #homePagePhoto>div as needed */
        width: 280px;
        height: 500px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    #homePageAside>div {
        width: 60px;
        height: 470px;
        left: 80px;
    }

    #instagram, #whatsApp, #google, #github, #linkedin {
        /* Adjust the position of the social icons as needed */
        left: 10px;
    }
}
#aboutPage{
    position: relative;
    height: 100vh;
    background-image: url("../image/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 100%;
    background-size: 1900px auto;
}
#aboutPage>header>h1{
    position: absolute;
    color: #F5F5F5;
    opacity: 35%;
    font-size: 180px;
    left: 1000px;
    margin: auto;
}
#aboutPage>aside>div{
    width: 300px;
    height: 50px;
    background-color: #5F6160;
    opacity: 50%;
    position: absolute;
    top: 150px;
    left: 0;
    margin: auto;
    border-radius: 10px;
}
#aboutPage>aside>div>h3{
    font-size: 30px;
    color: #F5F5F5;
    position: absolute;
    left: 150px;
    top: 8px;
    margin: auto;
}
#aboutPage>figure{
    position: absolute;
    top: 210px;
    left: 1020px;
    margin: auto;
}
#aboutPage>main>p{
    color: #FFFFFF;
    font-size: 20px;
    position: absolute;
    left: 100px;
    top: 300px;
    margin: auto;
}
#aboutPage>section>div{
    width: 220px;
    height: 50px;
    background-color: #5F6160;
    border-radius: 10px;
    opacity: 50%;
    position: absolute;
    left: 800px;
    bottom: 150px;
    margin: auto;
}
#aboutPage>section>.button-86{
    all: unset;
    width: 100px;
    height: 30px;
    font-size: 16px;
    background: transparent;
    border: none;
    position: absolute;
    left: 800px;
    bottom: 130px;
    margin: auto;
    color: #f0f0f0;
    cursor: pointer;
    z-index: 1;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-86::after,
.button-86::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
}

.button-86::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #28282d;
    border-radius: 10px;
}

.button-86::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #ffffff15;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
}

.button-86:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
}

.button-86:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
}

.button-86:active::after {
    transition: 0s;
    transform: translate(0, 5%);

    width: 200px;
    height: 35px;
    border-radius: 15px;
}

#aboutPage>section>button>a{
    text-decoration: none;
    color: whitesmoke;
    margin-right: 2px;
}
#educationPage{
    position: relative;
    height: 100vh;
    background-image: url("../image/photo-1658660854207-8886b1d69bb8.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1900px auto;
}
#educationPage>header>div{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    background-color: #5F6160;
    opacity: 50%;
    position: absolute;
    left: 520px;
    margin: auto;
}
#educationPage>header>div>h3{
    color: #66FCF1;
    font-size: 35px;
    position: absolute;
    left: 125px;
    margin: auto;
}
#educationPage>main{
    position: relative;
}
#educationPage>main>div:first-child{
    width: 330px;
    height: 200px;
    background-color: #FFFFFF;
    opacity: 50%;
    border-radius: 10px;
    position: absolute;
    margin-left: 100px;
    margin-top: 90px;
    box-shadow: #73BBC9 5px 5px 3px;
}
#educationPage>main>div:first-child>h4{
    text-decoration: none;
    font-size: 30px;
    color: black;
    position: absolute;
    left: 110px;
    top: 20px;
    margin: auto;
}
#educationPage>main>div:first-child>img{
    position: absolute;
    top: 80px;
    left: 30px;
    margin: auto;
}
#educationPage>main>div:first-child>p{
    position: absolute;
    left: 145px;
    top: 100px;
    margin: auto;
}
#educationPage>main>div:nth-child(2){
    width: 330px;
    height: 200px;
    background-color: #FFFFFF;
    opacity: 50%;
    border-radius: 10px;
    position: absolute;
    margin-left: 550px;
    margin-top: 90px;
    box-shadow: #73BBC9 5px 5px 3px;
}
#educationPage>main>div:nth-child(2)>h4{
    text-decoration: none;
    font-size: 30px;
    color: black;
    position: absolute;
    left: 110px;
    top: 20px;
    margin: auto;
}
#educationPage>main>div:nth-child(2)>img{
    position: absolute;
    top: 80px;
    left: 30px;
    margin: auto;
}
#educationPage>main>div:nth-child(2)>p{
    position: absolute;
    left: 145px;
    top: 100px;
    margin: auto;
}
#educationPage>main>div:nth-child(3){
    width: 330px;
    height: 200px;
    background-color: #FFFFFF;
    opacity: 50%;
    border-radius: 10px;
    position: absolute;
    margin-left: 1000px;
    margin-top: 90px;
    box-shadow: #73BBC9 5px 5px 3px;
}
#educationPage>main>div:nth-child(3)>h4{
    text-decoration: none;
    font-size: 30px;
    color: black;
    position: absolute;
    left: 110px;
    top: 20px;
    margin: auto;
}
#educationPage>main>div:nth-child(3)>img{
    position: absolute;
    top: 80px;
    left: 30px;
    margin: auto;
}
#educationPage>main>div:nth-child(3)>p{
    position: absolute;
    left: 145px;
    top: 100px;
    margin: auto;
}
#educationPage>main>div:nth-child(4){
    width: 330px;
    height: 200px;
    background-color: #FFFFFF;
    border-radius: 10px;
    opacity: 50%;
    position: absolute;
    margin-left: 100px;
    margin-top:350px ;
    box-shadow: #73BBC9 5px 5px 3px;
}
#educationPage>main>div:nth-child(4)>h4{
    text-decoration: none;
    font-size: 30px;
    color: black;
    position: absolute;
    left: 110px;
    top: 20px;
    margin: auto;
}
#educationPage>main>div:nth-child(4)>img{
    position: absolute;
    top: 60px;
    left: 0;
    margin: auto;
}
#educationPage>main>div:nth-child(4)>p{
    position: absolute;
    left: 145px;
    top: 100px;
    margin: auto;
}
#educationPage>main>div:nth-child(5){
    width: 330px;
    height: 200px;
    background-color: #FFFFFF;
    opacity: 50%;
    border-radius: 10px;
    position: absolute;
    margin-left: 550px;
    margin-top:350px ;
    box-shadow: #73BBC9 5px 5px 3px;
}
#educationPage>main>div:nth-child(5)>img{
    position: absolute;
    top: 50px;
    left: 6px;
    margin: auto;
}
#educationPage>main>div:nth-child(5)>h4{
    text-decoration: none;
    font-size: 30px;
    color: black;
    position: absolute;
    left: 150px;
    top: 20px;
    margin: auto;
}
#educationPage>main>div:nth-child(5)>p{
    position: absolute;
    left: 145px;
    top: 100px;
    margin: auto;
}
#educationPage>main>div:last-child{
    width: 330px;
    height: 200px;
    background-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    opacity: 50%;
    position: absolute;
    margin-left: 1000px;
    margin-top: 350px;
    box-shadow: #73BBC9 5px 5px 3px;
}
#educationPage>main>div:last-child>img{
    position: absolute;
    top: 70px;
    left: 10px;
    margin: auto;
}
#educationPage>main>div:last-child>h4{
    text-decoration: none;
    font-size: 30px;
    color: black;
    position: absolute;
    left: 150px;
    top: 20px;
    margin: auto;
}
#educationPage>main>div:last-child>p{
    position: absolute;
    left: 145px;
    top: 100px;
    margin: auto;
}
#educationPage>footer>h1{
    position: absolute;
    color: #F5F5F5;
    opacity: 35%;
    font-size: 180px;
    left: 20px;
    bottom: 10px;
    margin: auto;
}
#projectPage{
    position: relative;
    height: 100vh;
    background-image: url("../image/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 100%;
    background-size: 1900px auto;
}
#projectPage>header>h1{
    position: absolute;
    color: #F5F5F5;
    opacity: 35%;
    font-size: 180px;
    left: 850px;
    margin: auto;
}
#projectPage>aside>div>h3{
    font-size: 30px;
    color: #F5F5F5;
    position: absolute;
    left: 150px;
    top: 8px;
    margin: auto;
}
#projectPage>aside>div{
    width: 300px;
    height: 50px;
    background-color: #5F6160;
    opacity: 50%;
    position: absolute;
    top: 150px;
    left: 0;
    margin: auto;
    border-radius: 10px;
}
#projectPage>main>section>div:first-child{
    width: 300px;
    height: 400px;
    background-color: #686B6E;
    opacity: 50%;
    border-radius: 10px;
    position: absolute;
    margin-left: 100px;
    margin-top: 300px;
}
#projectPage>main>section>div:first-child>img{
    position: absolute;
    top: 30px;
    left: 50px;
    margin: auto;
}
#projectPage>main>section>div:first-child>h4{
    text-decoration: none;
    font-size: 20px;
    color: black;
    position: absolute;
    left:25px;
    top: 190px;
    margin: auto;
}
#projectPage>main>section>div:first-child>h5{
    text-decoration: none;
    font-size: 15px;
    color: black;
    position: absolute;
    left:25px;
    top: 250px;
    margin: auto;
}
.button-28 {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #C2DED1;
    /*color: #3B3B3B;*/
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    width: 80px;
    height: 30px;
    outline: none;
    /*padding: 16px 24px;*/
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    position: absolute;
    left: 105px;
    bottom: 20px;
    margin: auto;
}

.button-28:disabled {
    pointer-events: none;
}

.button-28:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-28:active {
    box-shadow: none;
    transform: translateY(0);
}
#projectPage>main>section>div:nth-child(2){
    width: 300px;
    height: 400px;
    background-color: #686B6E;
    opacity: 50%;
    border-radius: 10px;
    position: absolute;
    margin-left: 600px;
    margin-top: 300px;
}
#projectPage>main>section>div:nth-child(2)>img{
    position: absolute;
    top: 30px;
    left: 50px;
    margin: auto;
}
#projectPage>main>section>div:nth-child(2)>h4{
    text-decoration: none;
    font-size: 20px;
    color: black;
    position: absolute;
    left:25px;
    top: 190px;
    margin: auto;
}
#projectPage>main>section>div:nth-child(2)>h5{
    text-decoration: none;
    font-size: 15px;
    color: black;
    position: absolute;
    left:25px;
    top: 250px;
    margin: auto;
}
#projectPage>main>section>div:last-child{
    width: 300px;
    height: 400px;
    background-color: #686B6E;
    opacity: 50%;
    border-radius: 10px;
    position: absolute;
    margin-left: 1100px;
    margin-top: 300px;
}
#projectPage>main>section>div:last-child>img{
    position: absolute;
    top: 30px;
    left: 50px;
    margin: auto;
}
#projectPage>main>section>div:last-child>h4{
    text-decoration: none;
    font-size: 20px;
    color: black;
    position: absolute;
    left:25px;
    top: 190px;
    margin: auto;
}
#projectPage>main>section>div:last-child>h5{
    text-decoration: none;
    font-size: 15px;
    color: black;
    position: absolute;
    left:25px;
    top: 270px;
    margin: auto;
}
#assignmentPage{
    position: relative;
    height: 100vh;
    background-image: url("../image/photo-1658660854207-8886b1d69bb8.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1900px auto;
}
#assignmentPage>header>div{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    background-color: #5F6160;
    opacity: 50%;
    position: absolute;
    left: 520px;
    margin: auto;
}
#assignmentPage>header>div>h3{
    color: #66FCF1;
    font-size: 35px;
    position: absolute;
    left: 125px;
    margin: auto;
}
#assignmentPage>main{
    position: relative;
}
#assignmentPage>main>div:first-child{
    width: 200px;
    height: 80px;
    background-color: #FFFFFF;
    opacity: 20%;
    border-radius: 10px;
    position: absolute;
    left: 180px;
    top: 80px;
    margin: auto;
}
#assignmentPage>main>div>h5{
    text-decoration: none;
    font-size: 25px;
    color: black;
    position: absolute;
    left:25px;
    top: 10px;
    margin: auto;
}
.button-81 {
    background-color: #fff;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    /*display: inline-block;*/
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    width: 150px;
    height: 40px;
    padding: 1px 1px;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: absolute;
    bottom: 2px;
    left: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.button-81:hover {
    background-color: #1e293b;
    color: #fff;
}

@media (min-width: 768px) {
    .button-81 {
        font-size: 1.125rem;
        padding: 1rem 2rem;
    }
}
#assignmentPage>main>div:nth-child(2){
    width: 200px;
    height: 80px;
    background-color: #FFFFFF;
    opacity: 20%;
    border-radius: 10px;
    position: absolute;
    left: 480px;
    top: 80px;
    margin: auto;
}
#assignmentPage>main>div:nth-child(3){
    width: 200px;
    height: 80px;
    background-color: #FFFFFF;
    opacity: 20%;
    border-radius: 10px;
    position: absolute;
    left: 780px;
    top: 80px;
    margin: auto;
}
#assignmentPage>main>div:nth-child(4){
    width: 200px;
    height: 80px;
    background-color: #FFFFFF;
    opacity: 20%;
    border-radius: 10px;
    position: absolute;
    left: 1080px;
    top: 80px;
    margin: auto;
}
#assignmentPage>main>div:nth-child(5){
    width: 200px;
    height: 80px;
    background-color: #FFFFFF;
    opacity: 20%;
    border-radius: 10px;
    position: absolute;
    left: 180px;
    top: 240px;
    margin: auto;
}
#assignmentPage>main>div:nth-child(6){
    width: 200px;
    height: 80px;
    background-color: #FFFFFF;
    opacity: 20%;
    border-radius: 10px;
    position: absolute;
    left: 480px;
    top: 240px;
    margin: auto;
}
#assignmentPage>main>div:nth-child(7){
    width: 200px;
    height: 80px;
    background-color: #FFFFFF;
    opacity: 20%;
    border-radius: 10px;
    position: absolute;
    left: 780px;
    top: 240px;
    margin: auto;
}
#assignmentPage>main>div:nth-child(8){
    width: 200px;
    height: 80px;
    background-color: #FFFFFF;
    opacity: 20%;
    border-radius: 10px;
    position: absolute;
    left: 1080px;
    top: 240px;
    margin: auto;
}
#assignmentPage>main>div:nth-child(9){
    width: 200px;
    height: 80px;
    background-color: #FFFFFF;
    opacity: 20%;
    border-radius: 10px;
    position: absolute;
    left: 180px;
    top: 400px;
    margin: auto;
}
#assignmentPage>main>div:nth-child(10){
    width: 200px;
    height: 80px;
    background-color: #FFFFFF;
    opacity: 20%;
    border-radius: 10px;
    position: absolute;
    left: 480px;
    top: 400px;
    margin: auto;
}
#assignmentPage>main>div:nth-child(11){
    width: 200px;
    height: 80px;
    background-color: #FFFFFF;
    opacity: 20%;
    border-radius: 10px;
    position: absolute;
    left: 780px;
    top: 400px;
    margin: auto;
}
#assignmentPage>main>div:nth-child(12){
    width: 200px;
    height: 80px;
    background-color: #FFFFFF;
    opacity: 20%;
    border-radius: 10px;
    position: absolute;
    left: 1080px;
    top: 400px;
    margin: auto;
}
#assignmentPage>footer>h1{
    position: absolute;
    color: #F5F5F5;
    opacity: 35%;
    font-size: 180px;
    left: 20px;
    bottom: 10px;
    margin: auto;
}
#skillPage{
    position: relative;
    height: 100vh;
    background-image: url("../image/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 100%;
    background-size: 1900px auto;
}
#skillPage>header>h1{
    position: absolute;
    color: #F5F5F5;
    opacity: 35%;
    font-size: 180px;
    left: 950px;
    margin: auto;
}
#skillPage>aside>div{
    width: 300px;
    height: 50px;
    background-color: #5F6160;
    opacity: 50%;
    position: absolute;
    top: 150px;
    left: 0;
    margin: auto;
    border-radius: 10px;
}
#skillPage>aside>div>h3{
    font-size: 30px;
    color: #F5F5F5;
    position: absolute;
    left: 150px;
    top: 8px;
    margin: auto;
}
#skillPage>main>section>div:first-child{
    position: relative;
    top: 300px;
    width: 600px;
    height: 100px;
    border-radius: 10px;
    margin: auto;
    background-color: #5F6160;
    opacity: 50%;
}
#skillPage>main>section>div:first-child>img:first-child{
    position: absolute;
    top: 28px;
    left: 50px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
#skillPage>main>section>div:first-child>img:nth-child(2){
    position: absolute;
    top: 28px;
    left: 160px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
#skillPage>main>section>div:first-child>img:nth-child(3){
    position: absolute;
    top: 28px;
    left: 270px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
#skillPage>main>section>div:first-child>img:nth-child(4){
    position: absolute;
    top: 28px;
    left: 390px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
#skillPage>main>section>div:first-child>img:last-child{
    position: absolute;
    top: 28px;
    left: 500px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
#skillPage>main>section>div:last-child{
    position: relative;
    top: 350px;
    width: 600px;
    height: 100px;
    border-radius: 10px;
    margin: auto;
    background-color: #5F6160;
    opacity: 50%;
}
#skillPage>main>section>div:last-child>img:first-child{
    position: absolute;
    top: 28px;
    left: 110px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
#skillPage>main>section>div:last-child>img:nth-child(2){
    position: absolute;
    top: 28px;
    left: 220px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
#skillPage>main>section>div:last-child>img:nth-child(3){
    position: absolute;
    top: 28px;
    left: 330px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
#skillPage>main>section>div:last-child>img:last-child{
    position: absolute;
    top: 28px;
    left: 450px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
#galleryPage {
    position: relative;
    height: 100vh;
    background-image: url("../image/photo-1658660854207-8886b1d69bb8.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1900px auto;

}
#galleryPage>main>div{
    position: absolute;
    left: 150px;
    top: 60px;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-template-rows: repeat(2, 1fr); /* 2 rows */
    gap: 10px; /* Adjust the gap between grid items as needed */
    justify-content: center; /* Center items horizontally */
    align-content: center; /* Center items vertically */

}
#galleryPage>main>img{
    max-width: 100%; /* Ensure images don't exceed their container's width */
    height: auto;
}
#galleryPage>footer>h1{
    position: absolute;
    color: #F5F5F5;
    opacity: 35%;
    font-size: 180px;
    left: 20px;
    bottom: 10px;
    margin: auto;
}
#galleryPage>header>div{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    background-color: #5F6160;
    opacity: 50%;
    position: absolute;
    left: 520px;
    margin: auto;
}
#galleryPage>header>div>h3{
    color: #66FCF1;
    font-size: 35px;
    position: absolute;
    left: 125px;
    margin: auto;
}
#contactPage{
    position: relative;
    height: 100vh;
    background-image: url("../image/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 100%;
    background-size: 1900px auto;
}
#contactPage>header>h1{
    position: absolute;
    color: #F5F5F5;
    opacity: 35%;
    font-size: 180px;
    left: 900px;
    margin: auto;
}
#contactPage>aside>div{
    width: 67px;
    height: 500px;
    background-color: #1A1A1A;
    /*background-color: #D9D9D9;*/
    /*opacity: 30%;*/
    position: absolute;
    right: 420px;
    top: 180px;
    margin: auto;
    border-radius: 10px;
}
#instagram1{
    position: relative;
    left: 12px;
    top: 20px;
    margin: auto;
}
#whatsApp1{
    position:relative;
    top: 70px;
    left: 12px;
    margin: auto;
}
#google1{
    position: relative;
    top: 130px;
    left: 12px;
    margin: auto;
}
#github1{
    position: relative;
    top: 190px;
    left: 12px;
    margin: auto;
}
#linkedin1{
    position: relative;
    top: 250px;
    left: 12px;
    margin: auto;
}
#contactPage>section>div{
    width: 300px;
    height: 50px;
    background-color: #5F6160;
    opacity: 50%;
    position: absolute;
    top: 150px;
    left: 0;
    margin: auto;
    border-radius: 10px;
}
#contactPage>section>div>h3{
    font-size: 30px;
    color: #F5F5F5;
    position: absolute;
    left: 130px;
    top: 8px;
    margin: auto;
}
#contactPage>main>section>div{
    width: 700px;
    height: 400px;
    background-color: #D9D9D9;
    opacity: 30%;
    border-radius: 30px;
    position: absolute;
    top: 150px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
#contactPage>main>section>div>form>input{
    position: absolute;
    left: 50px;
    margin: auto;
    font-size: 20px;
    color: #1A1A1A;
}
#contactPage>main>section>div>form>textarea{
    position: absolute;
    left: 50px;
    margin: auto;
    font-size: 20px;
    color: #1A1A1A;
}
#contactPage>main>section>div>form>button{
    position: absolute;
    left: 50px;
    bottom: 30px;
    margin: auto;
    font-size: 20px;
    color: #1A1A1A;
}
#contactPage>footer>div{
    position: absolute;
    width: 1489px;
    background-color: #2E0B24;
    bottom: 0;
    margin: auto;
    color: #66FCF1;
    padding-left: 30px;

}
